@model IEnumerable<HotelMVC.Models.Room>

@{
    ViewData["Title"] = "Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  Travel_Hotel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/Doan/WebDuLich/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/Doan/WebDuLich/img/Icon.ico" />
    <link rel="stylesheet" href="~/Doan/WebDuLich/foooter.css">


</head>
<div id="toanphan">
    <div id="Menu">

        <div id="logo"
            <img src="">
            </div>
        <div class="App">
            <ul>
                <li><a asp-controller="RoomsMvc" asp-action="TrangChu">Home</a></li>
                <li><a asp-controller="CustomersMvc" asp-action="Index">Customers</a></li>
                <li><a asp-controller="DichvusMvc" asp-action="Index">Dịch vụ</a></li>
                <li><a asp-controller="RoomsMvc" asp-action="Index">Room</a></li>
               

            </ul>
            <!-- Phần bắt đầu -->
            <div id="star">
                <button class="button">
                    <a asp-controller="DangNhap" asp-action="Login">Đăng Nhập</a>
                    <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
                        <path clip-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z" fill-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
  
<h1 class="mt-4">Room </h1>

<form method="get" asp-action="Index">
    <div class="form-group">
        <div class="input-group mb-3">
            <input type="text" name="searchString" class="form-control" placeholder="Search by name" value="@ViewData["CurrentFilter"]" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</form>
<p>
        <a class="btn btn-primary" asp-action="Create"> <i class="fa-solid fa-folder-plus"></i> Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div style="font-size:15px;" class="col-md-4 mb-4">
            <div class="card">
                <img src="@item.ImageURL" class="card-img-top" alt="@item.Name"style="width:100%;height:200px;object-fit:cover;" />
                <div class="card-body">
                    <h5> <b class="card-title">@item.Name</b></h5>
                    <h6 class="card-title"> <i class="fa-solid fa-leaf fa-rotate-270"></i> @item.Category</h6>
                    <p class="card-title"> <i class="fa-solid fa-leaf fa-rotate-270"></i> @item.Type</p>
                    <p class="card-text" style="color:red;"><strong> <i class="fa-solid fa-coins"></i> @item.Price.ToString("N0") VND</strong></p>
                    <div class="mt-2">
                            <a class="btn btn-info" asp-action="Edit" style="background-color:forestgreen"; asp-route-id="@item.RoomId"> <i class="fa-solid fa-file-pen"></i> Edit</a> |
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.RoomId"> <i class="fa-solid fa-calendar-week"></i> Details</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.RoomId"> <i class="fa-solid fa-eraser"></i> Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
    <bodyfoot>
        <!-- Nội dung trang web khác -->
        <!-- Footer -->
        <footer>
            <div class="footer-container" style="font-size:15px;">
                <div class="footer-section">
                    <h2>Travel_Hotel</h2>
                    <p> <i class="fa-brands fa-pagelines" style="color: #63E6BE;"></i>Travel_Hotel nằm tại trung tâm thành phố, với tiện nghi hiện đại và dịch vụ chuyên nghiệp, đem đến cho quý khách trải nghiệm tuyệt vời.</p>
                    <p><i class="fas fa-phone-alt" style="color:#63E6BE;"></i> +84 123 456 789</p>
                    <p><i class="fas fa-envelope" style="color:#63E6BE;"></i>  TravelHotel88@gmail.com</p>
                    <form class="newsletter-form" action="#">
                        <input type="email" placeholder="Nhập email của bạn">
                        <button type="submit">Đăng ký</button>
                    </form>
                </div>
                <div class="footer-section latest-news">
                    <h2>About Us</h2>
                    <div class="news-item">
                        <i class="fa-solid fa-layer-group" style="color: #63E6BE;"></i>
                        <p>Trải nghiệm sự thanh lịch, ôm lấy sự thoải mái.</p>
                    </div>
                    <div class="news-item">
                        <i class="fa-solid fa-layer-group" style="color: #63E6BE;"></i>
                        <p>Cánh cổng dẫn đến sự thư giãn và hạnh phúc của bạn.</p>
                    </div>
                    <div class="news-item">
                        <i class="fa-solid fa-layer-group" style="color: #63E6BE;"></i>
                        <p>Sự pha trộn hoàn hảo giữa sự thoải mái và đẳng cấp.</p>
                    </div>
                </div>
                <div class="footer-section">
                    <h2>Theo Dõi Chúng Tôi</h2>
                    <div class="social-icons">
                        <a href="#" class="social-icon"><i class="fab fa-facebook-f" style="color:burlywood;"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-twitter" style="color:burlywood;"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-google" style="color:burlywood;"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-instagram" style="color:burlywood;"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-linkedin-in" style="color:burlywood;"></i></a>
                        <a href="#" class="social-icon"><i class="fab fa-github" style="color:burlywood;"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2024 Travel_Hotel. Mang đến cho bạn sự thoãi mái.</p>
            </div>
        </footer>
    </bodyfoot>
